.profile-container {
    position: fixed;        /* Fixed to viewport */
    top: 20px;
    right: 20px;
    z-index: 1000;          /* Ensure it floats above other elements */
}

.profile-button {
    background: none;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 12px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-button:hover {
    background-color: rgb(64,184,255);
}

.profile-dropdown {
    position: absolute;
    right: 0;
    /* margin-top: 10px; */
    /* background-color: rgb(52, 155, 214); */
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
    list-style-type: none;
    padding: 0;
    width: 180px;
}

.profile-dropdown li {
    padding: 15px;
    cursor: pointer;
}

/* This is for the hover selection on the drop down when selection log in or signup */
.profile-dropdown li:hover {
    background-color: rgb(52, 155, 214);
}

.profile-dropdown button {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font: inherit;
    /* padding: 10px 0; */
    cursor: pointer;
}
